*{
    padding: 0;
    margin: 0;
}
#map{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.station{
    width: 100px;
    text-align: center;
    position: relative;
}
.mark{
    position: relative;
}
.rail{
    position: absolute;
    width: 100%;
    height: 5px;
    top: 9px;
    background: #BDB092;
    z-index: -1;
}
.fa-regular{
    background: #fff;
}
.w95{
    width: 95%;
}
.w95-top{
    border-top-right-radius: 33px;
}
.w95-bottom{
    border-bottom-right-radius: 33px;
}
.w95-top-right{
    left: 5%;
    border-top-left-radius: 33px;
}
.w95-bottom-right{
    left: 5%;
    border-bottom-left-radius: 33px;
}
.rad{
    width: 96px;
    height: 88.3px;
    position: absolute;
    top: 30px;
    border: 5px solid #BDB092;
    border-radius: 11px;
}
.left{
    border-style: none solid none none;
} 
.right{
    border-style: none none none solid;
}
.train{
    color: #fff;
}
.t-red{
    color: #D31145;
}
.t-green{
    color: #00A84D;
}
.t-blue{
    color: #0052A4;
}
.t-yellow{
    color: #FABE00;
}