#container{
    /*
    display: grid;
    grid-template-columns: repeat(5,minmax(150px,auto));
    grid-template-rows: repeat(3, minmax(200px,auto));
    */
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 20%;
    min-width: 150px;
    height: 100%;
    min-height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}
