.coin{
    display: flex;
    justify-content: center;
}
.coin img{
    width: 300px;
}
.select{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.select b{
    display: inline-block;
    font-size: 30px;
    padding: 20px 100px;
    background: darkcyan;
    color: white;
    cursor: pointer;
}
.select b:hover{
    background: white;
    color: darkcyan;
}